.LeftBtn{
    border: 2px solid goldenrod;
    background-color: goldenrod;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;

    
    
}


.RightBtn{
    border: 2px solid goldenrod;
    background-color: goldenrod;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;

    
    width: 95%;
    height: 30px;
   
     
    
}

.mainDiv{

    margin: auto;
    margin-top: 15px;
    width: 50%;
}
